<div id="container">
  <div class="toolbar">
    <h1 class=""><i class="bi bi-cash-coin"></i>Managed Money</h1>
    <div class="perfil">
      <img
        src="https://user-images.githubusercontent.com/2546640/56708992-deee8780-66ec-11e9-9991-eb85abb1d10a.png"
      />
      <h3>Jonathan Oliveira</h3>
    </div>
    <nav>
        <ul>
          <li style="color: #008B8B;"> <i class="bi bi-card-list"></i> Dashboard</li>
          <li> <i class="bi bi-card-list"></i> Controllers</li>
          <li> <i class="bi bi-gear"></i> Settings</li>
        </ul>
    </nav>
    <footer><i class="bi bi-box-arrow-in-left"></i> Log out</footer>
  </div>
  <div id="conteudo"></div>
</div>
