<header><h2>Débitos</h2></header>

<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Nome</label>
    <input type="email" class="form-control" id="inputEmail4" />
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Categoria</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-3">
    <label for="inputPassword4" class="form-label">Tipo de pagamento</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-1">
    <label for="inputPassword4" class="form-label">Qtd</label>
    <select id="inputState" class="form-select">
      <option selected>1</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputEmail4" class="form-label">Valor</label>
    <input type="" class="form-control" id="inputEmail4" />
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Data</label>
    <input type="date" class="form-control" id="inputEmail4" />
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary" style="float: right">
      Adicionar
    </button>
  </div>
</form>

<div class="col-12 cards">
  <div class="card" style="background: #d6eaf8">
    <span>Janeiro</span>
    <p>R$ 599,00</p>
  </div>
  <div class="card" *ngFor="let item of items; let i = index">
    <span>Janeiro</span>
    <p>R$ 599,00</p>
  </div>
</div>
