header{
    margin: auto;
    text-align: center;
}

h2{
    font-size: 30px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.card{
    width: calc(25% - 20px);
    height: calc(20% - 20px);
    margin: 10px;
    padding: 5px;
    background: #f8f9f9;
}

.card p{
    font-weight: bold;
}