header{
    margin: auto;
    text-align: center;
}

h2{
    font-size: 30px;
}

form .button {
    top: 15px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cards{
    margin-top: 15px;

}

.cards div{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: calc(25% - 20px);
    height: calc(20% - 20px);
    margin: 10px;
    padding: 5px;
    background: #f8f9f9;
}

.card p{
    font-weight: bold;
}

:host /deep/.p-dialog{
    max-height: 100% !important;
}

