
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#container{
    /* background: linear-gradient(180deg ,#008B8B,#191970  ); */
    /* background: linear-gradient(#e5edf1,#9fc0cf); */
    /* background: linear-gradient(#008B8B,#e5edf1); */
    background-color: rgb(255, 255, 255);;
    
    display: flex;
}

.toolbar{
    width: 20%;
    height: 100vh;
    /* background-color: #8A2BE2; */
    /* background: linear-gradient(180deg ,#008B8B,#191970  ); */
    display: flex;
      flex-direction: column;
      align-items: center;
    color:#040305;
border: 2px solid rgba(230,235,240,.7);
box-shadow: 0 0 30px rgba(0,0,0,.05);


}
 .toolbar h1{
    margin-top: 60px;
    font-size: 30px;

}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}

.perfil  h3{
    font-size: 16px;
    font-weight: bold;
}
.perfil img{
    width: 30%;
}

.toolbar nav{
    font-size: 18px;
    width: 90%;
    margin-top: 60px;
    /* color: #C0C0C0; */
    color: #040305;
}

ul{
    list-style:none;
}

footer{
    position: absolute;
    bottom: 30px;
    font-size: 18px;

}
.conteudo{
    width: 75%;
    height: 95vh;
    margin: auto;
    backdrop-filter: blur(18px);
    border: 2px solid rgba(230,235,240,.7);
    box-shadow: 0 0 30px rgba(0,0,0,.05);
    border-radius: 6px;
    padding: 20PX;
}